body, html {
  margin: 0;
  padding: 0;
  width: 100%;
}

.header {
  background-color: #eeeced;
  margin: 0 auto;
}

.header ul {
  display: flex;
  height: 120px;
  align-items: center;
  margin: 0 5%;
}

.logo {
  margin-right: auto;
  padding-bottom: 10px;
}

.header ul li {
  list-style: none;
  height: 30%;
}

.selected {
  color: #c4416a !important ;
}

.header ul li a {
  text-decoration: none;
  padding: 10px;
  text-transform: uppercase;
  color: #857475;
  display: block;
  margin: 0 30px;
}

.header ul li a:hover {
  color: #cac10e;
}

.body {
  margin: 0 auto;
}

.banner {
  background-color: #f8f8f8;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.banner img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.banner span {
  background: url(icons/05.png) no-repeat;
	color: #FFFFFF;
	font-size: 24px;
	height: 99px;
	line-height: 24px;
	margin: 0;
	padding-top: 52px;
	position: absolute;
	right: 20%;
	text-align: center;
	text-transform: uppercase;
	top: 90%;
  width: 156px;
}

.info {
  background-color: #e9e7e8;
}

.info div {
  padding: 30px 0 20px 0;
  margin: 0 12%;
  height: 220px;
  background: url(assets/yogurt.jpg) no-repeat bottom right;
}

.info div h2 {
  color: #e32f67;
  font-weight: bold;
}

.info div h3, .info div p {
  color: #806c6d;
  text-align: left;
  width: 50%;
}

.nav {
  background-color: #c8c10d;
}

.nav ul {
  display: flex;
  justify-content: center;
  margin: 0;
}

.nav ul li {
  list-style: none;
  padding: 10px;  
  margin: 10px 5%;
}

.nav ul li a{
  height: 44px;
  width: 80px;
  margin: 15px auto;
  display: block;
}

.nav ul li a.product {
  background: url(icons/08.png) no-repeat center;
}

.nav ul li a.about {
  background: url(icons/09.png) no-repeat center;
}

.nav ul li a.flavor {
  background: url(icons/06.png) no-repeat center;
}

.nav ul li a.contact {
  background: url(icons/03.png) no-repeat center;
}

.nav ul li h1 {
  color: #ffffff;
	font-size: 18px;
	font-weight: normal;
	line-height: 20px;
	margin: 0;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
}

.footer {
  background-color: #e32f67;
  padding: 40px;
}

.footer ul {
  display: flex;
  margin: 0;
  justify-content: center;
}

.footer ul li {
  list-style: none;
}

.footer ul li a {
  margin: 0 15px;
}

.footer p {
  font-size: 0.8em;
  color: white;
  text-align: center;
  margin-left: 2.5%;
}